@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar Sesión";
}

<!-- <h1>@ViewData["Title"]</h1> -->
<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="@Url.Content("~/static/logo.svg")"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="account" method="post">

                    <h1>Iniciar Session</h1>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input asp-for="Input.Email" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" />
                        <label class="form-label" asp-for="Input.Email">Email address</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input asp-for="Input.Password" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <label class="form-label" asp-for="Input.Password">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <input class="form-check-input me-2" asp-for="Input.RememberMe" />
                            <label class="form-check-label" asp-for="Input.RememberMe">
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                        <a class="text-body" id="forgot-password" asp-page="./ForgotPassword">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account? 
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="link-danger">Register</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
